/* @import '~mdb-ui-kit/css/mdb.min.css'; */
*,
::after,
::before {
  box-sizing: revert;
}
.App {
  text-align: left;
  padding-top: 30px;
  background-color: black;
  font-family: "Helvetica", sans-serif;
  background-position-x: center;
  color: white;
}
body {
  padding: 0 !important;
  background-color: black;
}
.modal-content,
.react-joyride__tooltip {
  font-family: "Helvetica", sans-serif;
}
.react-joyride__tooltip > div:nth-child(2) > button {
  background-color: #14aaf5 !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn-secondary:not(:disabled):not(.disabled).active {
  font-weight: bold;
}
.radio-buttons {
  background-color: #14aaf5;
  border-radius: 35px !important;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 30px;
  font-size: 13px !important;
}
.form-control {
  max-width: 95%;
}
@media (max-width: 767px) {
  .form-control {
    max-width: 92%;
  }
}
.btn-group {
  display: block;
}
.btn {
  border-radius: 35px;
}
.modal {
  padding-left: 0;
}
.priority-check-container > div > label {
  min-width: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table {
  background-color: black !important;
}
.table-bordered {
  border: none !important;
}
.container-list {
  max-width: 90vh;
  margin: auto;
  padding: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.filter-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filter-container > form {
  width: 40%;
  padding: 5px;
}
.filter-container > p {
  margin-bottom: 0;
  padding: 10px;
}
.icon-delete {
  color: red;
  cursor: pointer;
}
.add-icon {
  margin-left: 10px;
}
.clear-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 30px 0 10px 0;
}
.clear-container > h6 {
  margin-bottom: 0;
}
.clear-container > div > button {
  font-size: 12px;
  margin-right: 5px;
}
.table {
  background-color: white;
}
.icon-edit {
  color: #14aaf5;
}
.download-icon {
  margin-left: 10px;
}
.pdf-button {
  margin-left: 10px;
}
svg {
  margin: 5%;
}
/* tbody > tr:nth-child(1) > td:nth-child(5) {
  min-width: 90px;
} */

.table-bordered td,
.table-bordered th {
  border: none;
  vertical-align: middle;
  border-bottom: 1px solid white;
}

tbody > tr > td {
  text-align: center;
}
tbody > tr > td > p {
  font-size: 12px;
  margin-top: -20px;
  margin-bottom: 0;
}
td > .table {
  margin-bottom: 0;
}
.inline-table > tbody > tr:nth-child(2) > td,
.inline-table > tbody > tr:nth-child(1) > td {
  text-align: left;
}
.inline-table > tbody > tr:nth-child(3) {
  text-align: right;
}
.inline-table > tbody > tr > td {
  border-bottom: none !important;
}
.inline-table-box {
  display: flex;
  justify-content: flex-end;
}

/* Table columns width */
.table-bordered td:nth-child(1) {
  width: 10%;
}
.table-bordered td:nth-child(2) {
  width: 40%;
}
.table-bordered td:nth-child(3) {
  width: 20%;
}
.table-bordered td:nth-child(4) {
  width: 10%;
}
.table-bordered td:nth-child(5) {
  width: 20%;
}
.inline-table > tbody > tr > td:nth-child(2) {
  background-color: red;
  min-width: 290px;
}
tbody > tr:nth-child(1),
tbody > tr:nth-child(2) {
  overflow-wrap: anywhere;
}
tbody > tr > td:nth-child(3) {
  overflow-wrap: break-word;
}
tbody > tr > td:nth-child(3),
tbody > tr > td:nth-child(4) {
  font-weight: bold;
}
@media (max-width: 560px) {
  .table-bordered td:nth-child(2) {
    min-width: 39vw;
  }
  .table {
    overflow: scroll;
    display: flow-root;
    flex-direction: column;
  }
  tbody > tr:nth-child(1) > td:nth-child(5) {
    min-width: 70px;
  }
}
.done {
  text-decoration-line: line-through;
  color: grey;
}
.done-icon {
  display: none;
}
.circle {
  color: transparent;
  border: 2px solid white;
  border-radius: 50%;
}
.circle-done {
  border: 1px solid white;
  border-radius: 50%;
}
/* Header */
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  font-size: 15px;
  padding: 10px;
  margin: 10px;
}
.clear-button-container {
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

/* Category colors */

.mark-box > p,
.vege-color > p,
.chem-color > p,
.drink-color > p,
.fruits-color > p,
.cheese-color > p,
.meat-color > p {
  margin: 5px;
  padding: 0px 15px 5px 15px;
  font-size: 14px;
}
.vege-color,
.chem-color,
.drink-color,
.meat-color,
.cheese-color,
.fruits-color {
  border-radius: 35px;
  width: fit-content;
  max-height: 30px;
}
.vege-color {
  background-color: #aad529;
}
.chem-color {
  background-color: darkturquoise;
}
.drink-color {
  background-color: darkcyan;
}
.fruits-color {
  background-color: #635ac7;
}
.cheese-color {
  background-color: orange;
}
.meat-color {
  background-color: tomato;
}
/* END Category colors */
